/* UTILS */
:root {
  --accent-color: #2196f3;
  --subtitle-color: #757575;
  --contact-color: rgba(255, 255, 255, 0.6);
  --text-color: #212121;
  --basic-color: #ffffff;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* BASE */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.links {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .container {
  display: block;
}

.team .container {
  display: block;
}

.clients .container {
  display: block;
}

.features .container {
  display: block;
}

@media screen and (min-width: 1200px) {
  .header .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .work .container {
    display: block;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

/* COMPONENTS */
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--transition-cubic), color 250ms var(--transition-cubic);
  transition: background-color 250ms var(--transition-cubic), color 250ms var(--transition-cubic);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
  color: var(--accent-color);
}

.social-list-ikon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms var(--transition-cubic);
  transition: fill 250ms var(--transition-cubic);
}

.social-list-link:hover .social-list-ikon,
.social-list-link:focus .social-list-ikon {
  fill: var(--basic-color);
}

/* LAYOUT */
@media screen and (min-width: 480px) {
  .header {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1600px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.link {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  display: block;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .link {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .link {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .header-list {
    display: none;
  }
}

@media screen and (max-width: 767px) and (min-width: 1200px) {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

@media screen and (max-width: 767px) {
  .burger-btn,
  .mobile-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .burger-ikon {
    width: 40px;
    height: 40px;
  }
  .burger-close {
    width: 40px;
    height: 40px;
  }
  .burger-close {
    -webkit-transition: fill 250ms var(--transition-cubic);
    transition: fill 250ms var(--transition-cubic);
  }
  .mobile-close-btn:hover .burger-close,
  .mobile-close-btn:focus .burger-close {
    fill: #2196f3;
  }
  .mobile-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu {
    position: absolute;
    width: 480px;
    height: 796px;
    max-width: 480px;
    padding: 48px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
    background-color: aquamarine;
    -webkit-transition: -webkit-transform 250ms var(--transition-cubic);
    transition: -webkit-transform 250ms var(--transition-cubic);
    transition: transform 250ms var(--transition-cubic);
    transition: transform 250ms var(--transition-cubic), -webkit-transform 250ms var(--transition-cubic);
  }
  .mobile-menu.is-open {
    -webkit-transform: translateX(-50%) translateY(0%);
            transform: translateX(-50%) translateY(0%);
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) and (min-width: 768px) {
  .mobile-menu.is-open {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-nav-link {
    width: 219px;
    height: 48px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
    -webkit-transition: color 250ms var(--transition-cubic);
    transition: color 250ms var(--transition-cubic);
  }
  .mobile-menu-nav-link:hover, .mobile-menu-nav-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu-nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-contacts-item-tel {
    margin-bottom: 32px;
  }
  .mobile-menu-contacts-link-tel {
    width: 296px;
    height: 40px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-menu-contacts-item-mail {
    margin-bottom: 64px;
  }
  .mobile-menu-contacts-link-mail {
    width: 231px;
    height: 28px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu-contacts-link-tel,
  .mobile-menu-contacts-link-mail {
    -webkit-transition: color 250ms var(--transition-cubic);
    transition: color 250ms var(--transition-cubic);
  }
  .mobile-menu-contacts-link-tel:hover, .mobile-menu-contacts-link-tel:focus,
  .mobile-menu-contacts-link-mail:hover,
  .mobile-menu-contacts-link-mail:focus {
    color: var(--accent-color);
  }
  .mobile-menu-social-list {
    height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-menu-social-link {
    width: 85px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 1200px) {
  .nav-list-item:not(:last-child) {
    margin-right: 40px;
  }
}

/*===== mail & tel =====*/
@media screen and (min-width: 768px) {
  .header-list {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-list {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .header-mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-mail {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .header-mail-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    -webkit-transition: color 250ms var(--transition-cubic);
    transition: color 250ms var(--transition-cubic);
  }
  .header-mail-link:hover, .header-mail-link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-mail-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-mail-ikon {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 14px;
  height: 10px;
  margin-right: 8px;
  -webkit-transition: fill 250ms var(--transition-cubic);
  transition: fill 250ms var(--transition-cubic);
}

@media screen and (min-width: 1200px) {
  .header-mail-ikon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.header-mail-ikon {
  fill: var(--subtitle-color);
}

.header-mail-link:hover .header-mail-ikon,
.header-mail-link:focus .header-mail-ikon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-tel-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    -webkit-transition: color 250ms var(--transition-cubic);
    transition: color 250ms var(--transition-cubic);
  }
  .header-tel-link:hover, .header-tel-link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header-tel-ikon {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 10px;
    height: 16px;
    margin-right: 8px;
    fill: var(--subtitle-color);
    -webkit-transition: fill 250ms var(--transition-cubic);
    transition: fill 250ms var(--transition-cubic);
  }
  .header-tel-link:hover .header-tel-ikon,
  .header-tel-link:focus .header-tel-ikon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-tel-ikon {
    margin-right: 10px;
  }
}

.nav-list-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  -webkit-transition: color 250ms var(--transition-cubic);
  transition: color 250ms var(--transition-cubic);
}

.nav-list-link:hover, .nav-list-link:focus {
  color: var(--accent-color);
}

.nav-list-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  visibility: hidden;
}

.header-portfolio {
  color: var(--accent-color);
}

.header-underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  -webkit-transition: background-color 250ms var(--transition-cubic);
  transition: background-color 250ms var(--transition-cubic);
}

.nav-list-link:hover .header-underline::before,
.nav-list-link:focus .header-underline::before {
  background-color: var(--accent-color);
}

.link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #000000;
}

/*====== desk ======*/
.hero {
  width: 480px;
  height: 100%;
  text-align: center;
  background: #c4c4c4;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/mobile.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/tabliet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tabliet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/tabliet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tabliet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/bg@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg@2x.jpg");
  }
}

.hero-subject {
  width: 360px;
  height: 84px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-subject {
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    margin-bottom: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  padding: 8px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  color: var(--basic-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  -webkit-transition: -webkit-box-shadow 250ms var(--transition-cubic);
  transition: -webkit-box-shadow 250ms var(--transition-cubic);
  transition: box-shadow 250ms var(--transition-cubic);
  transition: box-shadow 250ms var(--transition-cubic), -webkit-box-shadow 250ms var(--transition-cubic);
}

.hero-btn:hover, .hero-btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .feature {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .feature {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.rectangle {
  width: 450px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .rectangle {
    width: 354px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .rectangle {
    width: 270px;
    height: 120px;
  }
}

.feature-item-ikon {
  width: 70px;
  height: 70px;
}

.feature-title {
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .feature-title {
    text-align: inherit;
  }
}

.feature-text {
  width: 450px;
  height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature-text {
    width: 354px;
    height: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-text {
    width: 270px;
    height: 75px;
  }
}

.feature-list {
  width: 450px;
  height: 994px;
}

@media screen and (min-width: 768px) {
  .feature-list {
    width: 738px;
    height: 507px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    width: 1170px;
    height: 251px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .feature-item {
    margin-right: 30px;
  }
}

.feature-item:nth-child(2n) {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .feature-item {
    width: 270px;
  }
  .feature-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    width: 1600px;
    padding-bottom: 94px;
    margin: 0 auto;
  }
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.team {
  padding-bottom: 60px;
  padding-top: 60px;
  background: #f5f4fa;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .team {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    width: 1600px;
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.team-item {
  width: 450px;
  height: 622px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--basic-color);
  -webkit-transition: -webkit-box-shadow 250ms var(--transition-cubic);
  transition: -webkit-box-shadow 250ms var(--transition-cubic);
  transition: box-shadow 250ms var(--transition-cubic);
  transition: box-shadow 250ms var(--transition-cubic), -webkit-box-shadow 250ms var(--transition-cubic);
}

.team-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
    height: 536px;
    margin-right: 30px;
  }
}

.team-item:nth-child(2n) {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
    height: 428px;
    margin: 15px;
  }
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin-bottom: 16px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-right: 122px;
  padding-left: 122px;
}

@media screen and (min-width: 768px) {
  .team-content {
    padding-right: 74px;
    padding-left: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .team-content {
    padding: 30px 32px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    margin: -15px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .clients {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  min-width: 314px;
  height: 33px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    min-width: 390px;
    height: 42px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients-item {
  width: 210px;
  height: 90px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.clients-item:nth-child(2n) {
  margin-right: 0;
}

.clients-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: 226px;
    height: 90px;
  }
  .clients-item:nth-child(2n) {
    margin-right: 30px;
  }
  .clients-item:nth-child(3n) {
    margin-right: 0;
  }
  .clients-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: 170px;
    height: 90px;
  }
  .clients-item:not(:last-child) {
    margin-right: 30px;
  }
  .clients-item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

.clients-link {
  width: 210px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--transition-cubic), color 250ms var(--accent-color);
  transition: border-color 250ms var(--transition-cubic), color 250ms var(--accent-color);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
    height: 90px;
  }
}

.clients-ikon {
  -webkit-transition: fill 250ms var(--transition-cubic);
  transition: fill 250ms var(--transition-cubic);
  fill: #afb1b8;
}

.clients-link:hover .clients-ikon,
.clients-link:focus .clients-ikon {
  fill: var(--accent-color);
}

.footer {
  width: 480px;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1600px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.foo-link {
  width: 154px;
  height: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--basic-color);
}

@media screen and (min-width: 1200px) {
  .foo-link {
    width: 145px;
    height: 31px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
  }
}

.contacts {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-right: 70px;
    text-align: start;
  }
}

.footer-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
}

@media screen and (min-width: 1200px) {
  .footer-map {
    text-align: start;
  }
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contact-color);
  -webkit-transition: color 250ms var(--transition-cubic);
  transition: color 250ms var(--transition-cubic);
}

.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}

.footer-list-item {
  margin-bottom: 8px;
}

.footer-list-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .footer-list-item {
    margin-bottom: 9px;
  }
}

.footer-social {
  width: 206px;
  height: 80px;
  text-align: center;
  margin-bottom: 60px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin: unset;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    text-align: start;
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--basic-color);
}

.footer-contacts {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.footer-ikon {
  width: 20px;
  height: 20px;
  fill: var(--basic-color);
  -webkit-transition: fill 250ms var(--transition-cubic);
  transition: fill 250ms var(--transition-cubic);
}

.footer-social-link:hover .footer-ikon,
.footer-social-link:focus .footer-ikon {
  fill: var(--basic-color);
}

.footer-item-social {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--transition-cubic), color 250ms var(--transition-cubic);
  transition: background-color 250ms var(--transition-cubic), color 250ms var(--transition-cubic);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
  color: var(--basic-color);
}

.footer-list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*============&========*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 250ms var(--transition-cubic);
  transition: all 250ms var(--transition-cubic);
  opacity: 1;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--basic-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
  max-width: 450px;
  height: 95%;
  max-height: 608px;
  overflow: scroll;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    max-width: none;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--basic-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: fill 250ms var(--transition-cubic), color 250ms var(--transition-cubic);
  transition: fill 250ms var(--transition-cubic), color 250ms var(--transition-cubic);
}

.close-btn {
  width: 18px;
  height: 18px;
}

.modal-close-btn:hover .close-btn,
.modal-close-btn:focus .close-btn {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.work-wrapper {
  position: relative;
}

.work-tekst {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--basic-color);
}

.modal-text {
  width: 370px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--text-color);
}

@media screen and (min-width: 1200px) {
  .modal-text {
    width: 448px;
    height: 23px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--transition-cubic);
  transition: border-color 250ms var(--transition-cubic);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms var(--transition-cubic);
  transition: fill 250ms var(--transition-cubic);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  display: block;
  font-size: 14px;
  line-height: 1.123;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms var(--transition-cubic);
  transition: border-color 250ms var(--transition-cubic);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-label-policy {
  height: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--subtitle-color);
}

.modal-form-label-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  outline: 2px solid var(--text-color);
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  background-image: url("../images/modal/chek.svg");
}

.modal-form-check-policy:focus + .modal-form-label-policy::before {
  border: 2px solid var(--accent-color);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .modal-form-label-policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    min-width: 400px;
    height: 24px;
  }
}

.modal-label-link {
  margin-left: 5px;
  color: var(--subtitle-color);
  -webkit-transition: color 250ms var(--transition-cubic);
  transition: color 250ms var(--transition-cubic);
}

.modal-label-link:hover, .modal-label-link:focus {
  color: var(--accent-color);
}

.modal-form-btn {
  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--basic-color);
  background: #188ce8;
  border-radius: 4px;
  border: 0;
  -webkit-transition: color 250ms var(--transition-cubic), background-color 250ms var(--transition-cubic), -webkit-box-shadow 250ms var(--transition-cubic);
  transition: color 250ms var(--transition-cubic), background-color 250ms var(--transition-cubic), -webkit-box-shadow 250ms var(--transition-cubic);
  transition: color 250ms var(--transition-cubic), background-color 250ms var(--transition-cubic), box-shadow 250ms var(--transition-cubic);
  transition: color 250ms var(--transition-cubic), background-color 250ms var(--transition-cubic), box-shadow 250ms var(--transition-cubic), -webkit-box-shadow 250ms var(--transition-cubic);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  color: var(--basic-color);
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-input-label {
  margin-bottom: 10px;
}

.modal-form-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--subtitle-color);
}

.modal-form-input-textarea {
  margin-bottom: 20px;
}

/*====== cheng ======*/
.footer-form {
  width: 450px;
  height: 156px;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    width: 570px;
    height: 86px;
    margin-top: 0;
  }
}

.footer-form-container {
  padding-left: 16px;
}

@media screen and (min-width: 1200px) {
  .footer-form-container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form-text {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--basic-color);
}

@media screen and (min-width: 1200px) {
  .footer-form-text {
    text-align: start;
  }
}

.footer-form-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: var(--basic-color);
  -webkit-transition: border-color 250ms var(--transition-cubic);
  transition: border-color 250ms var(--transition-cubic);
}

.footer-form-input::-webkit-input-placeholder {
  width: 47px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:-ms-input-placeholder {
  width: 47px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::-ms-input-placeholder {
  width: 47px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::placeholder {
  width: 47px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:focus {
  border-color: var(--basic-color);
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}

.footer-form-btn {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  color: var(--basic-color);
  background: var(--accent-color);
  -webkit-transition: -webkit-box-shadow 250ms var(--transition-cubic);
  transition: -webkit-box-shadow 250ms var(--transition-cubic);
  transition: box-shadow 250ms var(--transition-cubic);
  transition: box-shadow 250ms var(--transition-cubic), -webkit-box-shadow 250ms var(--transition-cubic);
}

.footer-form-btn:hover, .footer-form-btn:focus {
  border: 1px solid var(--basic-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .footer-form-btn {
    margin: unset;
  }
}

.footer-form-ikon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */