.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
}

.feature-item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.rectangle {
  @include size($w: 270px, $h: 120px);
  @include flex(flex, center, center);

  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-item-ikon {
  @include size($w: 70px, $h: 70px);
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}

.feature-text {
  @include size($w: 270px, $h: 75px);
  @include font($fw: 400, $fs: 14px, $lh: 24px);
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}
