.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.rectangle {
  // @include size($w: 450px, $h: 120px);
  max-width: 450px;
  height: 120px;

  @include flex(flex, center, center);

  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    @include size($w: 354px, $h: 120px);
  }

  @media screen and (min-width: 1200px) {
    @include size($w: 270px, $h: 120px);
  }
}

.feature-item-ikon {
  @include size($w: 70px, $h: 70px);
}

.feature-title {
  height: 16px;
  @include font($fw: 700, $fs: 14px, $lh: 16px);
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: inherit;
  }
}

.feature-text {
  // @include size($w: 450px, $h: 50px);
  max-width: 450px;

  @include font($fw: 400, $fs: 14px, $lh: 24px);
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    @include size($w: 354px, $h: 75px);
  }

  @media screen and (min-width: 1200px) {
    @include size($w: 270px, $h: 75px);
  }
}

.feature-list {
  // @include size($w: 450px, $h: 994px);
  max-width: 450px;
  height: 994px;

  @media screen and (min-width: 768px) {
    max-width: 738px;
    height: 507px;

    // @include size($w: 738px, $h: 507px);
    flex-wrap: wrap;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    @include size($w: 1170px, $h: 251px);
    flex-wrap: nowrap;
  }
}

.feature-item {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  &:nth-child(2n) {
    margin-right: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
