.team-list {
  display: flex;
  margin: -15px;
}

.team .team-title {
  margin-bottom: 50px;
}

.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-item {
  margin: 15px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--basic-color);
  transition: box-shadow 250ms var(--transition-cubic);
}

.team-content {
  padding: 30px 32px;
}

.team-item-title {
  @include font($fw: 500, $fs: 16px, $lh: 19px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin-bottom: 16px;
}
