@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    width: 1600px;
    padding-bottom: 94px;
    margin: 0 auto;
  }
}

.work-list {
  display: flex;
}

.work-title {
  font-weight: 700;
  font-size: 36px;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}
