:root {
  --accent-color: #2196f3;
  --subtitle-color: #757575;
  --contact-color: rgba(255, 255, 255, 0.6);
  --text-color: #212121;
  --basic-color: #ffffff;

  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
